GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET=kickstarter-datalake-yourproject
BQ_DATASET_RAW=kickstarter_raw
BQ_DATASET_DBT=kickstarter_dbt
BQ_TABLE_RAW=kickstarter_raw_table
GCP_REGION=europe-north1
BQ_LOCATION=EU
GOOGLE_APPLICATION_CREDENTIALS=secrets/sa.json
